In [1]:
import pandas as pd

/Users/OldMacBook/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [30]:
test_data = pd.read_csv('Datasets/test3.csv', low_memory=False)
test_data.columns = ['ID', 'Week_number','Sales_Depot_ID','Sales_Channel_ID','Route_ID','Client_ID',
'Product_ID']

In [31]:
test_data.count()

ID                  249999
Week_number         249999
Sales_Depot_ID      249999
Sales_Channel_ID    249999
Route_ID            249999
Client_ID           249999
Product_ID          249999
dtype: int64

In [32]:
client_table = pd.read_csv('Datasets/Client_Table_Filtered.csv', low_memory=False)

In [33]:
client_table.count()

Client_ID      935362
Client_Name    935362
dtype: int64

In [34]:
product_table = pd.read_csv('Datasets/producto_tabla.csv', low_memory=False)
product_table.columns = ['Product_ID', 'Product_Name']

In [35]:
product_table.count()

Product_ID      2592
Product_Name    2592
dtype: int64

In [36]:
town_state = pd.read_csv('Datasets/town_state.csv', low_memory=False)

town_state.rename(columns = {'Agencia_ID':'Sales_Depot_ID'}, inplace=True)

In [9]:
town_state.count()

Sales_Depot_ID    790
Town              790
State             790
dtype: int64

In [37]:
table1 = pd.merge(test_data, client_table, how = 'inner', on='Client_ID')

In [38]:
table2 = pd.merge(table1, product_table, how='inner', on='Product_ID')

In [39]:
table3 = pd.merge(table2, town_state, how='inner', on='Sales_Depot_ID')

In [40]:
table1.count()

ID                  252066
Week_number         252066
Sales_Depot_ID      252066
Sales_Channel_ID    252066
Route_ID            252066
Client_ID           252066
Product_ID          252066
Client_Name         252066
dtype: int64

In [14]:
table2.count()

ID                  7055802
Week_number         7055802
Sales_Depot_ID      7055802
Sales_Channel_ID    7055802
Route_ID            7055802
Client_ID           7055802
Product_ID          7055802
Client_Name         7055802
Product_Name        7055802
dtype: int64

In [15]:
table3.count()

ID                  7055802
Week_number         7055802
Sales_Depot_ID      7055802
Sales_Channel_ID    7055802
Route_ID            7055802
Client_ID           7055802
Product_ID          7055802
Client_Name         7055802
Product_Name        7055802
Town                7055802
State               7055802
dtype: int64

In [38]:
a.groupby(['State']).count()

                       Sales_Depot_ID  Town
State
AGUASCALIENTES                      7     7
BAJA CALIFORNIA NORTE              32    32
BAJA CALIFORNIA SUR                17    17
CAMPECHE                           12    12
CHIAPAS                            16    16
CHIHUAHUA                          25    25
COAHUILA                           29    29
COLIMA                             10    10
DURANGO                            11    11
ESTADO DE MÉXICO                   71    71
GUANAJUATO                         39    39
GUERRERO                           21    21
HIDALGO                            21    21
JALISCO                            55    55
MICHOACÁN                          33    33
MORELOS                            14    14
MÉXICO, D.F.                       65    65
NAYARIT                            10    10
NUEVO LEÓN                         34    34
OAXACA                             22    22
PUEBLA                             34    34
QUERETARO                           6     6
QUINTANA ROO                       14    14
Queretaro de Arteaga                2     2
SAN LUIS POTOSÍ                    15    15
SINALOA                            23    23
SONORA                             34    34
TABASCO                            14    14
TAMAULIPAS                         32    32
TLAXCALA                            6     6
VERACRUZ                           45    45
YUCATÁN                            11    11
ZACATECAS                          10    10

In [41]:
# GET DUMMIES FOR STATE VARIABLE
state = pd.get_dummies(table3.State, prefix='State')

In [42]:
# RENAMING Columns
state.rename(columns = {'Agencia_ID':'Sales_Depot_ID'}, inplace=True)
state.rename(columns = {'State_ESTADO DE MÉXICO':'State_Mexico'}, inplace=True)
state.rename(columns = {'State_MÉXICO, D.F.':'State_Mexico_City'}, inplace=True)

In [22]:
# SELECTING STATES
state1 =

In [43]:
table4 = table3.join(state[['State_Mexico','State_Mexico_City']])

In [44]:
table4.count()

ID                   252066
Week_number          252066
Sales_Depot_ID       252066
Sales_Channel_ID     252066
Route_ID             252066
Client_ID            252066
Product_ID           252066
Client_Name          252066
Product_Name         252066
Town                 252066
State                252066
State_Mexico         252066
State_Mexico_City    252066
dtype: int64

In [26]:
client_type = pd.get_dummies(table4.Client_Name)

In [45]:
table5 = table4.join(client_type)

In [46]:
table5.count()

ID                     252066
Week_number            252066
Sales_Depot_ID         252066
Sales_Channel_ID       252066
Route_ID               252066
Client_ID              252066
Product_ID             252066
Client_Name            252066
Product_Name           252066
Town                   252066
State                  252066
State_Mexico           252066
State_Mexico_City      252066
Bimbo Store            252066
Consignment            252066
Eatery                 252066
Fresh Market           252066
General Market/Mart    252066
Govt Store             252066
Hospital/Pharmacy      252066
Hotel                  252066
Individual             252066
NO IDENTIFICADO        252066
Oxxo Store             252066
Post                   252066
School                 252066
Small Franchise        252066
Supermarket            252066
Walmart                252066
dtype: int64

In [47]:
table5.to_csv("/Users/OldMacBook/Desktop/School/General Assembly/DataScience/DAT-NYC-39/dataProject/Datasets/Bimbo_Test.csv", index=False)